<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>컴퓨터과학종합설계</title>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>

<body>
    <h1>미팅 어때??</h1>

    <div class="mid_wrap">
        <div><img src="장근석.jpg"/><span>장근석 (Android, DB)</span>  <span>github : geunseok95</span> </div>
        <div><img src="김환석.jpg"/><span>김환석 (Server, IOS)</span>  <span>github : 10000sukk</span></div>
        <div><img src="박민승.jpg"/><span>박민승 (Server, DB)</span>   <span>github : withseungryu</span></div>
    </div>

    <table>
        <thead>
        <tr>
            <th> Title </th>
            <th> Author </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
